	<%= content_for :title, t('.title') %>

	<div class="background-full text-center">
		<div class="filter-black-title flex-container">
		  <div class="background-title flex-item">
			  <h2>Twandikire</h2>
		  </div>
		</div>
	</div>

	<div class="container">
		<div class="info text-center">
			Ku bibazo cg ibyifuzo, Mwakohereza ubutumwa bugufi cg kuri whatsapp, kuva saa tatu za mugitondo kugeza saa mbiri z umugoroba, kuva kwwa mbere kugeza kuwa gatandatu kuri 0727444568. tukabasubiza biterenze isaha.
Mushobora no ku twandikira kuri email You can also send us an email at
			<a href='mailto:contact@kwendoo.rw'> contact@kwendoo.rw </a>
			cyangwa mugasiga ubutumwa hano:


		</div>
		<%= render 'form', :message => @message %>
	</div>
