<%= link_to payment_initialization_uri_for(resource), class: "button button--mastercard" do %>
  <span><%= t('.pay_cta') %></span><%= image_tag("visa-mastercard.png") %>
<% end %>

<%= t('.pay_cta_info_html') %>
