<% contribution = defined?(resource) ? resource : @contribution %>
<%= link_to orange_money_payment_initialization_project_contribution_path(contribution.project, contribution), class: "btn button--orange-money" do %>
  <%= image_tag("payments/logo-orangemoney.jpg") %>
  <span>Payer avec Orange Money (Cameroun, Mali)</span>
<% end %>
