<%= link_to pay_plus_africa_payment_initialization_project_contribution_path(@contribution.project, @contribution), class: "btn button--payplus-africa", remote: true do %>
  <%= image_tag("payments/logo-payplus.png") %>
  <span>Payer avec MTN | MOOV | Orange Money (Bénin, Togo, Côte d'Ivoire, Burkina Faso)</span>
<% end %>
