<%= link_to touch_payment_new_project_contribution_path(@contribution.project, @contribution), class: "btn button--payplus-africa" do %>
  <%= image_tag("payments/logo-touch-pay.png") %>
  <span>Payer avec YUP | Wizall | Emoney | Free Money... (Cameroun, Côte d'Ivoire, Sénégal)</span>
<% end %>
