<%= content_for :title, t('.title') %>


<div class="background-full text-center">
        <div class="filter-black-title flex-container">
                <div class="background-title flex-item">
                        <h2>Ubutumwa bwaoherejwe neza ! </h2>
                </div>
        </div>
</div>

<div class="white">
        <div class="container values">
                <div class="info text-center cost">
                        <h3>Ubutumwa bwoherjwe neza!</h3>
                        <h5>Baza neza abaterankunga bawe ko ubutumwa babwakiriye neza. Tukwifurije guterwa inkunga! </h5>
                        <h5>Gusubira kuri paji y'agaseke, jya kuri " uduseke twanjye" kuri konti yanjye (wareba hejuru gato)</h5>
                </div>
        </div>
</div>


