<%= content_for :title, t('.title') %>


<div class="background-full text-center">
        <div class="filter-black-title flex-container">
                <div class="background-title flex-item">
                        <h2>Mail successfully sent!</h2>
                </div>
        </div>
</div>

<div class="white">
        <div class="container values">
                <div class="info text-center cost">
                        <h3>Mail successfully sent!</h3>
                        <h5>Confirm with your contributors that they well received it. Happy fundraising! Do not forget to often retart people! </h5>
                        <h5>TO come back to your agaseke page, go to "my uduseke" tab of my account (see horizontal menu above)</h5>
                </div>
        </div>
</div>
