<%= content_for :title, t('.title') %>


<div class="background-full text-center">
        <div class="filter-black-title flex-container">
                <div class="background-title flex-item">
                        <h2>Mail envoyé avec succès!</h2>
                </div>
        </div>
</div>

<div class="white">
        <div class="container values">
                <div class="info text-center cost">
                        <h3>Mail envoyé avec succès!</h3>
                        <h5>Confirmez auprès de vos contributeurs qu'ils ont bien reçu le lien. Bonne collecte! N'oubliez pas de les relancer souvent!</h5>
                        <h5>Pour retourner sur votre page de cagnotte, aller dans l'onglet "mes uduseke" de votre compte (voir menu horizontal plus haut)</h5>
                </div>
        </div>
</div>
