<%= content_for :title, t('.titre') %>
<div class="background-full flex-container text-center">
	<div class="filter-black-title flex-container">
		<div class="background-title flex-item">
			<h2 class="banner-text-color">FAQ/Aide</h2>
		</div>
	</div>
</div>

<div class="white">
	<div class="container faq">
		<div class="info text-center">
			Voici quelques réponses aux questions que nous recevons le plus souvent. Cette page est régulièrement mise à jour. Si vous n’y trouvez pas réponse à votre question, contactez nous.  
			<a href='mailto:contact@kwendoo.rw'> email </a> 
		</div>
		<div class="info-large">
			<h3 class="text-center">Questions relatives aux uduseke</h3>
			<ul> 
				<li>
					<h4 class="question" id="question1">Qui peut utiliser Kwendoo Tickets? <i id="1" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer1">
						<p>Vous souhaitez collecter de l'argent pour l'organisation d'un mariage, la réalisation d'un projet ou toute autre cause....Kwendoo est fait pour vous. La création et la gestion de votre agaseke est gratuite.</p>
						<p>Vous devez juste vous assurer que la monnaie dans laquelle vous souhaitez faire votre collecte est supportée par Kwendoo Tickets. 1 monnaies est  supportées pour l'instant pour le retrait des fonds: le franc rwandais</p>
                                                <p>En revanche il est possible de contribuer en utilisant plus d'une vingtaine de monnaies.</p>
					</div>
				</li>
				<li>
					<h4 class="question" id="question2">Quels Types d'agaseke trouve-t-on sur Kwendoo Rwanda? <i id="1" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer2">
						<p>- Des Ikimina entre membres d'une même communauté.</p>
						<p>- Des levées de fonds pour projets associatifs.</p>
						<p>- Des collectes d'anniversaire, de mariage, de funérailles...</p>
						<p>- des collectes pour diverses autres occasions, causes ou objectifs.</p>
					</div>
				</li>
				<li>
					<h4 class="question" id="question3">Comment contribuer à une agaseke? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer3">
						<p> Il faut être inscrit à Kwendoo Rwanda pour pouvoir contribuer. </p>
						<ol>
							<li>Vous allez sur le lien que vous a envoyé l'initiateur de l'agaseke et vous cliquez sur "contribuer".</li>
							<li>Vous choisissez alors le montant de votre contribution.  </li>
							<li>Vous terminez la procédure en rentrant vos informations de carte bleue ou de mobile money sur une page sécurisée par nos partenaires de paiement.
							</li>
						</ol>
					</div>
				</li>
				<li>
					<h4 class="question" id="question4">Est-il possible de contribuer de façon anonyme? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer4">
						<p> Il est possible sur Kwendoo d'effectuer une contribution anonyme et/ou de masquer le montant de votre contribution. Ni votre nom ni le montant n'apparaissent dans la liste des contributeurs. Pour cela vous cochez les cases correspondantes sur la page de contribution.</p>
						<p> En revanche l'initiateur de l'agaseke aura lui les informations sur votre identité, de même que la platefomre www.kwendoo.rw et cela pour des raisons de sécurité et de conformité aux exigences KYC (Know Your Customer).</p>
					</div>
				</li>
				<li>
					<h4 class="question" id="question5">Comment initier une agaseke? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer5">
						<p>Vous avez un évènement, une cause, un projet pour lequel vous souhaitez impliquer une communauté d'amis, la famille, les collègues ou votre association. en deux clics vous pouvez démarrer votre agaseke. ELle est instantanément en ligne.</p>
						<p>Vous aurez simplement à remplir le formulaire de création d'agaseke et soumettre. </p>
                                                <p>Une fois votre agaseke en ligne, vous pouvez envoyer le lien dédié à votre communauté. </p>
						<p>Votre agaseke reste privée. Seule les personnes invitées à contribuer ont connaissance de l'existence de votre agaseke. Vous pouvez toujours nous demander de rentre votre agaseke publique. Le référencement sur Google sera alors activé. Il sera alors possible de la trouver en faisat une recherche adéquate.</p>
					</div>
				</li>
				<li>
					<h4 class="question" id="question6">Comment les contributeurs peuvent-ils accéder à l'agaseke? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer6">
						<p>L'initiateur doit insérer l'URL personnalisée de l'agaseke dans son mail d'invitation à contribuer</p>
						<p>Il est aussi possible d'utiliser les fonctions d'invitation de kwendoo.rw, accessibles sur la page de l'agaseke. Toute personne peut inviter de nouveaux contributeurs par :</p>
						<ol>
							<li>
								Facebook ou Twitter: un message apparaît sur le mur facebook de la personne qui invite à participer ou sur sa page twitter
							</li>
							<li>
								Email: il est possible de renseigner une liste d'emails dans le cadre prévus et séparés par des virgules.
							</li>
						</ol>
						<p>
							Si l'agaseke est attachée à un évènement qui a un site ou un blog, l'initiateur peut insérer un widget sur le site ou le blog. le code HTML du widget vous est fourni par Kwendoo sur la page d'administration de l'agaseke.
						</p>
					</div>
				</li>
				<li>
					<h4 class="question" id="question7">Comment présenter sa page? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer7">
						<p>
							Au moment de la soumission de l'agaseke, un certain nombre d'informations doivent être renseignées obligatoirement. Il s'agit de la catégorie de l'agaseke, de son titre, du montant visé si applicable, de la durée de la collecte, de son objectif....
						</p>
						<p>
							Une fois l'agaseke validée, vous pouvez continuer d'en enrichir la description par exemple en donnant des indications sur la façon avec laquelle vous comptez utiliser les fonds.
						</p>
					</div>
				</li>
				<li>
					<h4 class="question" id="question8">Quels motifs d'agaseke ne sont pas éligibles? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer8">
						<p>Les uduseke dont les propos ou la finalité ont un caractère raciste, violent, injurieux, diffamatoire, révisionniste, faisant l'apologie des crimes de guerre, du terrorisme, de la pédophilie, appelant au meurtre ou incitant au suicide, au géncide, incitant à la discrimination ou à la haine.</p>
						<p>Les uduseke qui financent des sectes</p>
					</div>
				</li>
				<li>
					<h4 class="question" id="question9">Comment informer votre réseau? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer9">
						<p>Envoyer un mail aux personnes que vous ciblez avec le lien de l'agaseke et relancez les périodiquement</p>
						<p>Tout au long de votre collecte, enrichissez votre communication et restez en contact avec vos contributeurs. </p>
					</div>
				</li>
				<li>
					<h4 class="question" id="question10">Est-il possible de changer les paramètres de l'agaseke? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer10">
						<p>Il est possible à tout moment de modifier les informations de sa collecte (le titre, le montant cible, la date de fin et les options)</p>
					</div>
				</li>
				<li>
					<h4 class="question" id="question11">Est-il possible d'annuler son agaseke ? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<p class="answer" id="answer11">
						Il est possible d'annuler une collecte en cours. Vous recevrez alors les fonds collectés jusque là (à moins qu'il y ait une seule contribution auquelle cas elle sera remboursée au contributeur).    
					</p>
				</li>
				<li>
					<h4 class="question" id="question12">Comment recevoir les fonds? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer12">
						<p>Vous pourrez retirer les fonds à tout moment. C'est vous qui décidez. Pour cela, en tant que créateur de l'agaseke, vous faites une demande de retrait depuis la page de gestion de votre agaseke.</p>  
						<p>Pour collecter les fonds, Vous devrez avoir au préalable fourni: </p>
						<ul>
							<li>
								Pour les personnes physiques le scan de votre pièce d'identité et vos coordonnées bancaires
							</li>
							<li>
								Pour les associations, le scan de la déclaration en préfecture, la pièce d'identité du Président et les références bancaires du compte de l'association
							</li>
						</ul>
						<p>Les fonds vous parviendront dans un délai de 72h ouvrables.</p>
						<p>
							Le compte bancaire destinataire des fonds collectés doit avoir un siege au Rwanda.
						</p>
					</div>
				</li>
				<li>
					<h4 class="question" id="question13">Votre Agaseke est-elle visible sur le site kwendoo.rw ? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer13">
						<p>Par défaut, vote agaseke ne sera visible que par les personnes qui en posséderont le lien d'accès. Il s'agit des personnes que vous avez personnellement invité à contribuer. Vous avez aussi la possibilité de rendre votre agaseke publique. Elle apparaîtra alors sur la page des uduseke publiques.</p>
					</div>
				</li>
				<li>
					<h4 class="question" id="question14">Est-ce qu'il est possible que le lien sur mon agaseke soit retrouvé sur Google? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer14">
						<p>Par défaut, nous n'autorisons pas que Google référence votre agaseke. Le référencement est activé pour les collectes publiques.</p>
					</div>
				</li>
			</ul>

			<h3 class="text-center"> Questions relatives à votre compte</h3>
			<ul>
				<li>
					<h4 class="question" id="question15">Accéder à votre profil <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer15">
						<p>Renseignez le maximum d'informations vous concernant (adresse, téléphone..). Nous pourrons ainsi améliorer nos services en vous connaissant mieux. Vos informations sont donc gardées en toute sécurité et confidentialité.</p>
						<p>Accédez aux uduseke dont vous êtes initiateur. Vous avez également un onglet avec les uduseke auxquelles vous avez contribué</p>
						<p>
							Accédez aussi à vos crédits, à vos informations de paiement et à la gestion de votre mot de passe.
						</p>
						<p>
							Enfin, modifiez vos préférences de communication avec Kwendoo Rwanda.
						</p>
					</div>
				</li>
				<li>
					<h4 class="question" id="question16">J'ai perdu mon mot de passe, comment faire ? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer16">
						<p>Il suffit de se rendre <a href="https://tickets.kwendoo.rw/password/new">ici</a> et de suivre les instructions.</p>
					</div>
				</li>
				<li>
					<h4 class="question" id="question17">Comment désactiver mon compte ? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer17">	
						<p>Envoyez un mail à contact@kwendoo.rw avec l'objet "désactiver mon compte".</p>
					</div>				
				</li>
			</ul>
			<h3 class="text-center">Questions financières</h3>
			<ul>
				<li>
					<h4 class="question" id="question18">Que représentent les frais de transaction? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer18">	
						<p>Kwendoo gère votre collecte de fonds et collabore pour cela avec un intermédiaire de paiement qui reçoit et stocke les contributions en toute sécurité.  </p>
						<p>Kwendoo prélève donc une commission liée au service délivré. Elle st de 6%.</p>
						<p>Voir la page <a href="https://www.kwendoo.rw/price"> tarifs </a>pour plus de précisions </p>
					</div>
				</li>
				<li>
					<h4 class="question" id="question19">Qui paye les frais de transaction? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer19">	
						<p>le contributeur à l'agaseke ne paye pas de frais de transaction. A la fin de la collecte et avant de verser le montant au porteur de l' agaseke, les frais sont prélevés sur le montant total collecté.</p>
					</div>
				</li>
				<li>
					<h4 class="question" id="question20">Comment je m’assure que l’initiateur du projet utilisera les fonds comme annoncé ? <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer20">
						<p>Kwendoo ne sert que d’intermédiaire entre les porteurs d'agaseke et leurs contributeurs. Il revient donc au contributeur de juger de l'authenticité de l'agaseke qu’il/elle souhaite soutenir. </p>	
					</div>
				</li>
				<li>
					<h4 class="question" id="question21">Déclaration des sommes collectées et TVA <i id="2" class="fa fa-caret-down" aria-hidden="true"></i></h4>
					<div class="answer" id="answer21">	
					<p>la commission appliquée sur les sommes collectées comprends la TVA</p>
					</div>
				</li>
			</ul>
	</div>
</div>
