	<%= content_for :title, t('.title') %>

	<div class="background-full text-center">
		<div class="filter-black-title flex-container">
			<div class="background-title flex-item">
				<h2>where does the word Kwendoo From ?</h2>
			</div>
		</div>
	</div>

<div class="white">
<div class="container">
	<div class="info-large text-center">
		<p> Kwendoo  means "Basket" in Hausa language. </p> 
		<p>	Hausa is a Chadian language spoken in more than a dozen countries in Africa, including Benin, Burkina Faso, Cameroon, Côte d'Ivoire, Ghana, Niger, Nigeria, Sudan, Chad and Togo.</p>
		<p>The Hausa are known in Africa as great weavers. They are notably famous for making beautiful baskets of straw with many original designs.</p>

		<%= image_tag "Panier_Hausa.jpg" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<%= image_tag "eeveryagaseke.png" %>
	</div>
</div>
</div>

