	<%= content_for :title, t('.title') %>

	<div class="background-full text-center">
		<div class="filter-black-title flex-container">
			<div class="background-title flex-item">
				<h2>D'ou vient le mot "Kwendoo" ?</h2>
			</div>
		</div>
	</div>

<div class="white">
<div class="container">
	<div class="info-large text-center">
		<p>Kwendoo signifie «panier» en langue haoussa . </p> 
		<p>	Le Jaoussa est une langue tchadique parlée dans plus d'une dizaine de pays en Afrique parmi lesquels, Bénin, Burkina Faso, Cameroun, Côte d’Ivoire, Ghana, Niger, Nigeria, Soudan, Tchad et Togo</p>
		<p> Les Haoussa sont connus en Afrique comme grands tisserands. Ils sont notamment réputés pour fabriquer de beaux paniers de paille aux nombreux motifs originaux.. </p>

		<%= image_tag "Panier_Hausa.jpg" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<%= image_tag "eeveryagaseke.png" %>
	</div>
</div>
</div>

