<%= content_for :title, t('.title') %>


<div class="background-full text-center">
	<div class="filter-black-title flex-container">
		<div class="background-title flex-item">
			<h2>Price </h2>
		</div>
	</div>
</div>

<div class="white">
	<div class="container values">
		<div class="info text-center cost">
			<p> Buying Tickets is <strong>free of charge</strong>.</p>
					</div>
	</div>
</div>



