<%= content_for :title, t('.title') %>


<div class="background-full text-center">
	<div class="filter-black-title flex-container">
		<div class="background-title flex-item">
			<h2>Tarifs </h2>
		</div>
	</div>
</div>

<div class="white">
	<div class="container values">
		<div class="info text-center cost">
			<p> La création d'une évènement est <strong>gratuite</strong>.</p>
			<p> Nous appliquons des frais de <span>5%</span> sur les fonds collectés. </p>
			<p> La commission couvre les frais liés à la réception des paiements des participants et au cantonnement sécurisé des fonds.</p>
		</div>
	</div>
</div>



