<%= content_for :title, t('.title') %>


<div class="background-full text-center">
	<div class="filter-black-title flex-container">
		<div class="background-title flex-item">
			<h2>Umusanzu uhabwa kwendoo </h2>
		</div>
	</div>
</div>

<div class="white">
	<div class="container values">
		<div class="info text-center cost">
			<p> Gukora agaseke n'ubuntu <strong>nta kiguzi</strong>.</p>
			<p> Tugukata <span>6%</span> yayo wabashije kubona. </p>
			<p> icyo kiguzi cyifashishwa mu kwakira inkunga yanyu ivuye ku baterankunga ikanarinda umusanzu w'agaseke</p>
			<h3>Urugero</h3>
			<p> Agaseke " Ubukwe bwa KABENGERA bwabereye i kigali" yakusanyije 1,500,000rwfs. bwa tewe inkunga nabaterankunga 44.
			<p> Uwateguye agaseke (KABENGERA) azakira (100%-6%)x1,500,000rwfs = <strong>1,410,000rwfs</strong></p>
		</div>
	</div>
</div>



