<%= content_for :title, t('.title') %>


<div class="background-full text-center">
	<div class="filter-black-title flex-container">
		<div class="background-title flex-item">
			<h2>Legal notice and data confidentiality</h2>
		</div>
	</div>
</div>

<div class="white">
	<div class="container">
		<div class="info-large">
			<h3 class="text-center">Legal notice</h3>
			<p>tickets.kwendoo.com is edited by Fiatope Non profit having its office at 110 rue Pierre Brossolette in France and being registered at Registre National des Associations under number RNA W921004120  </p>
                        <p>The payment system is operated by Mangopay, a major and certified payment provider in France and Europe </p>
			<p> The site is hosted by <a href='http://www.heroku.com'>Heroku</a>, A recognized web hosting company throughout the world.

			<h3 class="text-center">Privacy Policy</h3>
			<h5> Tickets kwendoo respects and secures your private data and deals with confidentiality issues</h5>
			<h5> This privacy policy applies to all services available on the site tickets.kwendoo.rw. It is subject to changes linked to increasingly rapid technological developments</h5>
			<p> <strong>Anonymous data:</strong>It is possible that Tickets Kwendoo stores anonymous information (which does not identify you personally) but could be useful in improving the services we offer. In general, these are cookies, IP addresses or other numeric codes serving, for example, to identify a computer.</p>
			<p> <strong>Cookies :</strong>As it is common practice, Tickets Kwendoo may use cookies to recognize you and to facilitate your access to it as well as to generate statistics of use. You can always set your web browser to refuse cookies or warn you when a site tries to send you a cookie.</p>
			<p> <strong>IP address  : </strong>IP Address is the unique identifier of your computer on the Internet or on the local network from which you connect.Tickets Kwendo records your IP address primarily for platform administration purposes and for bug fixing purposes. ticketskwendoo can also use addresses to find out how its customers are moving in order to optimize the structure of the site its content and access.</p>
			<p> <strong>Partner websites: </strong>Tickets Kwendoo strives to limit its interactions to sites that respect the privacy of our customers. All. However, ticketskwendoo is not responsible for the content or the privacy policy implemented by these partner sites with which connections are made as part of the provision of the service.</p>
			<p> <strong>Registration :</strong> Tickets Kwendoo authorizes its users to register When registering, we may ask you for personal information such as your full name, address, e-mail, telephone number or any relevant contact information. When you visit the site, we keep track of your connection, browsing the site and other information that would improve the service. We use, among other things, the IP address as the method of identification. It happens for the needs of the projects that your CV is loaded on the site. The personal information collected from this type of document will be used exclusively for the financing of your initiative or project.</p>
			<p> <strong>Email :</strong> Sometimes Tickets Kwendoo sends e-mails to its users. We will contact you for reasons as varied as confirmation of inclusion, information about your account, your projects, your contributions. Under your request, ticketskwendoo will remove you and your data from our database. Therefore, your registration will be canceled. ticketskwendoo will also correct any erroneous information about you.</p>
			
			<p> <strong>Data Security : </strong>Tickets Kwendoo does not disclose the procedures used to protect the information we collect online. It should always be borne in mind that no system is completely safe from a security problem. You should always be vigilant when communicating information on the Internet</p>
		</div>
	</div>
</div>




