
<%= content_for :title, t('.title') %>


<div class="background-full text-center">
	<div class="filter-black-title flex-container">
		<div class="background-title flex-item">
			<h2>Mentions légales et confidentialité des données</h2>
		</div>
	</div>
</div>

<div class="white">
	<div class="container">
		<div class="info-large">
			<h3 class="text-center">Mentions légales</h3>
			<p> tickets.kwendoo.com est édité par l'Association Fiatope ayant son siège au 110 rue Pierre Brossolette, Chatillon, et étant immatriculée au régistre des associations avec le RNA W921004120  </p>
                        <p> Le système de paiement adossé à La plateforme est édité par Mangopay, intermédiaire de paiement agréé par la Banque de France et l'Union Européenne. </p>
                 	<p> Le site est hébergé par <a href='http://www.heroku.com'>Heroku</a>, société d'hébergement de sites reconnue à travers le monde.

			<h3 class="text-center"> Politique de confidentialité de Kwendoo</h3>
			<h5> Kwendoo respecte et sécurise vos données privées et traite avec soins les questions de confidentialité</h4>
			<h5> Cette politique de confidentialité s’applique à l’ensemble des services accessibles sur le site www.kwenndoo.rw. Elle est sujette à des changements liés aux évolutions technologiques de plus en plus rapides</h5>
			<p> <strong>Données Anonymes :</strong> Il est possible que Kwendoo stocke des informations anonymes (qui ne vous identifient pas personnellement) mais qui pourraient être utiles à l’amélioration des services que nous offrons. En général, il s’agit de cookies, d’adresses IP ou d’autres codes numériques servant par exemple à identifier un ordinateur.</p>
			<p> <strong>Cookies :</strong> Comme il est de pratique courante, il arrive que Kwendoo utilise des cookies pour vous reconnaître et faciliter votre accès de même que pour réaliser des statistiques d’usage. Vous pouvez toujours configurer votre navigateur web de manière à refuser les cookies ou vous prévenir lorsqu’un site essaie de vous envoyer un cookie.</p>
			<p> <strong>Adresses IP : </strong>l’addresse IP est l’identifiant unique de votre ordinateur sur Internet ou sur le réseau local à partir duquel vous vous connectez. Kwendo enregistre votre adresse IP essentiellement pour des besoins d’administration de la plateforme et pour des besoins de correction de bugs. Kwendoo peut également utiliser les adresses pour savoir comment ses clients se déplacent afin d’optimiser la structure du site son contenu et son accès. </p>
			<p> <strong>Sites Web partenaires : </strong>Kwendoo s’efforce de limiter ses interactions à des sites qui respectent la confidentialité de nos clients. Tous. Cependant, Kwendoo n’est pas responsable du contenu ni de la politique de confidentialité mise en œuvre par ces sites partenaires avec lesquelles des connections sont réalisées dans le cadre de la fourniture du service.</p>
			<p> <strong>Enregistrement :</strong> Kwendoo autorise ses utilisateurs à s’enregistrer Lors de l’inscription, nous sommes susceptibles de vous demander  des informations personnelles comme votre nom complet, votre addresse, votre e-mail, votre numéro de téléphone ou toute information de contact pertinente. Lorsque vous visitez le site, nous gardons trace de votre connexion, de votre navigation sur le site et d’autres informations qui permettraient d’améliorer le service. Nous utilisons entre-autres l’adresse IP comme méthode d’identification. IL arrive pour les besoins des projets que votre CV soit chargé sur le site. Les informatiosn personnelles collectés de ce type de dcument seront utilisées exclusivement pour les besoins du financement de votre initiative ou projet.</p>
			<p> <strong>Email :</strong> Il arrive que Kwendoo envoie des e-mails à ses utilisateurs. Nous vous contactons pour des raisons aussi variées que la confirmation d’insciption, les informations sur votre compte, vos projets, vos contributions. Sous demandede votre part, Kwendoo vous enlèvera vous et vos données de notre base de données. Par conséquent, votre inscription s’en trouvera annulée. Kwendoo corrigera également à votre demande, toute information erronée sur vous.</p>
			
			<p> <strong>Sécurité des données : </strong> Kwendoo ne dévoile pas les procédures utilisées pour protéger les informations que nous collectons en ligne. Il faut toujours avoir à l’esprit qu’aucun système n’est complétement à l’abri d’un problème de sécurité. Vous devez toujours être vigilants lorsque vous communiquez des information sur Internet </p>
		</div>
	</div>
</div>




