<%= content_for :title, t('.title') %>


<div class="background-full text-center">
	<div class="filter-black-title flex-container">
		<div class="background-title flex-item">
			<h2>Guide pour une agaseke réussie</h2>
		</div>
	</div>
</div>


<div class="white">
	<div class="container values">
		<div class="info text-center">
			<p>En fonction de l'obectif, de l'ambition et de l'enjeu, réussir agaseke peut demander une préparation minutieuse. Voici les 7 clés de la réussite : </p>
		</div>
		<div class="info-large text-center">

			<h3> 1. Expliquer les objectifs</h3>
			<p>
				Il est important pour vos contributeurs de comprendre clairement la cause pour laquelle ils sont emmenés à participer. Vous devez également indiquer les étapes que vous allez franchir après le financement de l'agaseke.
			</p>
			<h3> 2. Préciser l'usage des fonds</h3>
			<p>
				Dire de façon détaillée comment vous allez dépenser la collecte est primordial pour certains types d'agaseke (projet associatif, communautaire;..). Ici, les deux règles sont transparence et cohérence. Solliciter la participation de votre entourage et/ou du public n'est pas anodin. ne l'oubliez pas.
			</p>
			<h3> 3. Relancer mes contributeurs</h3>
			<p>
				Renvoyer des rappels à ceux qui n'ont pas encore contribué permet de maximiser sa collecte. Evidemment cela dépend de la nature de l'agaseke. Pour un mariage, il vaut mieux ne pas être trop insistant par exemple.
			</p>
			<h3>4. Partager sur facebook</h3>
			<p>
				Les boutons de réseaux sociaux sur votre page d'agaseke kwendoo permettent à toute personne de partager l'agaseke sur facebook et twitter. Ne vous arrêtez pas à cela. Vous pourrez également tweeter ou écrire des posts facebook avec le lien vers votre campagne. Pour une agaseke à vocation publique, vous devez encourager vos soutiens et contributeurs à faire de même.
			</p>

			<h3>5. Agrémenter la page de l'agaseke</h3>
			<p>
				Ajouter une ou plusieurs photos dans la description de votre agaseke la rendra plus dynamique (se rendre à la page l'agaseke, cliquer sur modifier l'agaseke et insérer une image dans la description). Si vous disposez d'une vidéo fun, amusante ou émouvante, insérer son lien youtube ou viméo dans le formulaire de modification de votre agaseke. Notez que vous devrez être connecté à votre compte kwendoo pour effectuer toutes ces modifications.
			</p>
			<p>
				Pour des projets à financer par le public, une vidéo peut être un excellent moyen de présenter votre collecte de fonds et de donner vie et réalité à votre objectif. Celle-ci doit rester courte (moins de deux minutes) et frapper l'esprit.
			</p>

			<h3>6. Embarquer un Widget</h3>
			<p>
				Si l'évènement ou le projet pourlequel vous faites une agaseke dispose d'un site, Vous obtiendrez sur la page de modification de votre agaseke, le code HTML que vous devez copier-coller sur votre site pour que l'agaseke y soit accessible.
			</p>


			<h3>7. Optimiser la durée de la collecte</h3>
			<p>
				Pendant votre collecte, vous allez devoir fédérer une communauté de personnes autour de votre agaseke. Laissez vous le temps d’atteindre votre objectif, mais évitez de faire durer votre collecte trop longtemps. Il est important qu'elle reste dynamique et rythmée afin de stimuler les potentiels contributeurs!
			</p>
			<p>
				Ayez bien à l'esprit que Ce n’est pas parce qu’une collecte dure plus longtemps qu’elle a plus de chance de réussir.
			</p>
			<p>
				En général, les collectes enregistrent des pics d'activité au début et à la fin de celles-ci. La durée d’une collecte sur Kwendoo est de 60 joours maximum.
			</p>
		</div>
	</div>
</div>


