<%= content_for :title, t('.title') %>


<div class="background-full text-center">
	<div class="filter-black-title flex-container">
		<div class="background-title flex-item">
			<h2>Guide to a Successful Event</h2>
		</div>
	</div>
</div>


<div class="white">
	<div class="container values">
		<div class="info text-center">
			<p>Depending on the objective, the ambition and the stake, the success of the event may require careful preparation. Here are the 7 keys to success: </p>
		</div>
		<div class="info-large text-center">

			<h3> 1.Explain the objectives</h3>
			<p>
				It is important for your contributors to clearly understand the cause, event, project... for which they are invited to participate. You must also indicate what you are goinf to do after the fund collection is over.
			</p>
			<h3> 2. Specify the use of funds</h3>
			<p>
				To say in detail how you are going to spend the collection can be paramount for certain types of event (associative project, community, etc.). Here the two rules are transparency and coherence. Soliciting the participation of your community and / or the public has to be meaningful. Do not forget it.
			</p>
			<h3> 3.Relaunch your contributors</h3>
			<p>
				Returning reminders to those who have not yet contributed maximizes the collection of funds. Obviously this depends on the nature of the event. For a wedding, it is better not to be too insistent for example.
			</p>
			<h3>4. Share on facebook</h3>
			<p>The social network buttons on your event page allows anyone to share it on facebook and twitter. Do not stop there. You can also twit or write facebook posts with the link to your campaign. For a public event, you must encourage your supporters and contributors to do the same.
			</p>

			<h3>5. Polish up the event page</h3>
			<p>
				Adding one or more pictures in the description of your event will make it more dynamic (go to the event page, click on modify the event and insert an image in the description). If you have a funny or emotional video, insert your youtube or vimeo link in the modification form. Note that you will need to be logged into your kwendoo account to make all of these changes.
			</p>
			<p>
				For events to be funded by the public, a video can be a great way to present your the fundraising and give life and reality to your objective. It must remain short (less than two minutes) and strike the mind.
			</p>

			<h3>6. Embed a Widget</h3>
			<p>
				If the event or project for which you are making an event has a web site or a blog, you will get from the modification form of your event the code that you must copy and paste on your site/blog in order for the event to be accessible directly from there.
			</p>


			<h3>7.Optimize collection time</h3>
			<p>
				During your collection, you will have to federate a community of people around your event. Allow yourself time to reach your goal, but avoid keeping your collection too long. It is important that it remains dynamic and rhythmed in order to stimulate the potential contributors!
			</p>
			<p>
				Keep in mind that it is not because a collection lasts longer than it has more chance to succeed.
			</p>
			<p>
				In general, fundraisings have peaks of activity at the beginning and at the end of them. The duration of your event on Kwendoo Rwanda is 90 days maximum.
			</p>
		</div>
	</div>
</div>


