<%= content_for :title, t('.title') %>


<div class="background-full text-center">
	<div class="filter-black-title flex-container">
		<div class="background-title flex-item">
			<h2>Guide to a Successful Event</h2>
		</div>
	</div>
</div>


<div class="white">
	<div class="container values">
		<div class="info text-center">
			<p>Depending on the objective, the ambition and the stake, the success of the event may require careful preparation. Here are the 6 keys to success: </p>
		</div>
		<div class="info-large text-center">

			<h3> 1. Explain the aim of your event</h3>
			<p>
				It is important for your client to clearly understand the event for which they are invited to participate. 
			</p>
			<h3> 2. Specify your event address</h3>
			<p>
				It is important to specify your event venue, detailed.
			</p>
			<h3> 3.Alert when the spaces are getting full.</h3>
			<p>
				Returning reminders to those who are checking for available places to the one who are checking online.
			</p>
			<h3>4. Share on facebook</h3>
			<p>The social network buttons on your event page allows anyone to share it on Facebook and twitter. Do not stop there. You can also tweet or write Facebook posts with the link to your campaign. For a public event, 
			</p>
                        <p>you must encourage your supporters and clients to do the same.</p>

			<h3>5. Polish up the event page</h3>
			<p>
                                Adding one or more pictures in the description of your event will make it more dynamic (go to the event page, click on modify the event and insert an image in the description). If you have a funny or emotional video, insert your youtube or vimeo link in the modification form. Note that you will need to be logged into your tickets.kwendoo account to make all of these changes.
			</p>
			<p>
                                A video can be a great way to present your event and give life and reality to your event. It must remain short (less than two minutes) and strike the mind.
			</p>
                        <p>
                                If the event  for which you are making an event has a website or a blog, you will get from the modification form of your event the code that you must copy and paste on your site/blog in order for the event to be accessible directly from there.  
                        </p>   

			<!--<h3>6. Embed a Widget</h3>
			<p>
				If the event or project for which you are making an agaseke has a web site or a blog, you will get from the modification form of your agaseke the code that you must copy and paste on your site/blog in order for the agaseke to be accessible directly from there.
			</p> -->


			<h3>6.Optimize collection time</h3>
			<p>
                                If the event  for which you are making an event has a website or a blog, you will get from the modification form of your event the code that you must copy and paste on your site/blog in order for the event to be accessible directly from there.
			</p>
			<p>
			</p>
			
		</div>
	</div>
</div>


