<%= content_for :title, t('.titre') %>
<div class="background-full flex-container text-center">
	<div class="filter-black-title flex-container">
		<div class="background-title flex-item">
			<h2>Code of values and ethics</h2>
		</div>
	</div>
</div>

<div class="white">
	<div class="container values">
		<div class="info-large">
			<h3 class="text-center">
Our Values</h3>
			<p> Kwendoo advocates strong values of social and solidarity development.</p>

			<p> We are convinced that :</p>
			<ul>

				<li> The globalization of trade will require increasingly to maintain the link between people. </li>
				<li> People living away from their loved ones should no longer regard these situations as transitory but as a new way of life.</li>
			</ul>

			<h3 class="text-center">Our ethics</h3>
			<h4>The collaborators</h4>
			<p>They are the first ambassadors of Kwendoo values and guarantee them within and outside the Start-Up.</p>

			<p>They demonstrate listening, respect and transparency, both to our clients, to our partners, and to the institutions that support us. They are responsible, conscientious and user-friendly.</p>

			<h4>Partners and suppliers</h4>

			<p>They are moral persons in whom we have the greatest confidence to collaborate in the primary interest of what we all serve: the emergence of social and solidarity.</p>

			<p>The other pillars of our collaboration with them are the cordiality in the exchanges and our respective expertise.</p>

			<h4> The holders of uduseke </h4>
			<p>They are our "raison d'être" and they feed the system with their fundraisings</p>
			<p>They strongly oppose the embezzlement of the funds they collect on the platform thanks to the generosity of the contributors. They also oppose the search for funding for causes concealed through praiseworthy intentions. Such behavior is contrary to our values. Our terms and conditions of use legally frame the use of the platform.</p>

			<h4The Contributors</h4>

			<p>They are the transmission belt at the core of our system. They are people who understand that many people can have an impact. Kwendoo Rwanda does not accept the funding or support of causes disguised via its platform and prohibited under the general conditions of use.</p>

			<h4>Donors and Investors</h4>

			<p>They make this adventure possible by financing the activities and giving their intellectual and moral contribution. They enable Kwendoo Rwanda to unfold and realize its vision.</p>

			<p>They understand that social entrepreneurship is contrary to solely dividend research.</p>

			<h4>Our renumeration</h4>

			<p>Kwendoo Rwanda is committed to maintaining a transparent remuneration of its activities, which is described in the tarif section of our website.</p>

			<p>Kwendoo is a digital service managed by Fiatope Digital Services a rwandan company registered at RdB.</p>
		</div>
	</div>
</div>
