<%= content_for :title, t('.titre') %>
<div class="background-full flex-container text-center">
	<div class="filter-black-title flex-container">
		<div class="background-title flex-item">
			<h2>Charte des valeur et de l'éthique</h2>
		</div>
	</div>
</div>

<div class="white">
	<div class="container values">
		<div class="info-large">
			<h3 class="text-center">Nos valeurs</h3>
			<p> Kwendoo prône des valeurs fortes de développement social et solidaire. </p>

			<p> Nous sommes persuadés que :</p>
			<ul>

				<li> la globalisation des échanges va nécessiter de plus en plus de maintenir le lien entre les personnes </li>
				<li> les personnes qui vivent éloignées de leurs proches ne doivent plus considérer ces situations comme transitoires mais comme un nouveau mode de vie</li>
			</ul>

			<h3 class="text-center">Notre éthique</h3>
			<h4>Les Collaborateurs</h4>
			<p>Ils sont les premiers ambassadeurs des valeurs Kwendoo Tickets et en sont garants au sein de la Start-Up et en dehors.</p>

			<p>Ils font preuve d’écoute, de respect, de transparence, à la fois auprès de nos clients, de nos partenaires, et des institutions qui nous soutiennent. Ils sont responsables, consciencieux et conviviaux.</p>

			<h4>Les partenaires et fournisseurs</h4>

			<p>Ce sont des personnes morales en qui nous faisons la plus grande confiance pour collaborer dans l’intérêt premier de ce que nous servons tous : l’émergence du social et de la force solidaire.</p>

			<p>Les autres piliers de notre collaboration avec eux sont la cordialité dans les échanges et nos expertises respectives.</p>

			<h4> Les porteurs d'uduseke </h4>
			<p>Ils sont la raison d’être de Kwendoo et alimentent le système par leur projest de collecte</p>
			<p>Ils s’inscrivent fermement contre le détournement des fonds qu’ils collectent sur la plateforme grâce à la générosité des contributeurs. Ils s’inscrivent également contre la recherche de financement pour des causes dissimulées au travers d’intentions louables. De tels comportements sont contraires à nos valeurs et nos conditions générales d’utilisation encadrent juridiquement l’usage de la plateforme.</p>

			<h4>Les contributeurs</h4>

			<p>Ils sont la courroie de transmission du système au cœur de Kwendoo Tickets. Ce sont des personnes qui comprennent qu'à plusieurs on puisse avoir de l'impact. Kwendoo n’accepte pas que des personnes financent ou soutiennent des causes déguisées via sa plateforme et interdites dans les conditions générales d’utilisation.</p>

			<h4>Les bienfaiteurs et investisseurs</h4>

			<p>Ils rendent possible l'aventure kwendoo par le financement des activités, leur contribution intellectuelle et morale. Ils permettent à Kwendoo  de dérouler et réaliser sa vision.</p>

			<p>Ils comprennent que l’entrepreneuriat social est antinomique de la recherche effrénée de dividendes.</p>

			<h4>Notre rémunération</h4>

			<p>Kwendoo s’engage à maintenir une logique de rémunération transparente de ses activités, laquelle est décrite dans la section tarifs de son site.</p>

			<p>Kwendoo est géré par Fiatope Digital Services, une entreprise enregistrée à l'INSEE.</p>
		</div>
	</div>
</div>
