<div style="background-color: white; text-align: center; padding: 50px;">
<%= image_tag("payments/wecashup_error.png")%>
<h2 style="color: #575757; text-align:center">An error happened when processing your payment. Please try again.</h2>
</div>
