<div style="background-color: white; text-align: center; padding: 50px;">
  <%= image_tag("payments/wecashup_success.png")%>
  <h2 style="color: #575757; text-align:center">
    Your payment is currently being processed. We'll send you an email as soon as it has been accepted.
  </h2>
  <small>You can now close this window</small>
</div>

