strong Murakomeje? 
| Gushyira ahagaragara inkunga biraza gutuma ubasha kugira uruhare ku duseke wakwishimira. Byana tuma incuti nazo zibyitabira!
br
br
| Inkunga utanze ntabwo izigera ijya hagaragara cyeretse nyiri agaseke gusa. Izina rya gusa rijya ahagaragara.
