|Murakaza neza, #{@email},
br
br
|Hrabura gato ngo Mube mwakoresha #{Configuration[:company_name]}! Musabwe kwemeza email yanyu mukanda hano hano munsi:
br
h4 #{link_to 'Kwemeza email', confirmation_url(@resource, :confirmation_token => @token)}
br
|Niba mwakiriye ubu butumwa mutagombaga kubwakira, Musabwe kutabwitaho.
br
br
|Murakoze,
br
|Ubuyobozi bwa #{Configuration[:company_name]} 
