|Bienvenue #{project.user.display_name},
br
br
|Nous sommes ravis de vous avoir sur notre application de billetterie et de vous permettre l’achat de places pour vos évènements favoris.
br
|Si vous avez reçu ce mail par erreur, merci de ne pas en tenir compte
br
br
|Bien à vous,
br
|L'équipe #{Configuration[:company_name]}
