| Muraho
- if @resource.name
  | , #{@resource.name}!
br
br
| Mwaba mwibagiwe Ijambobanga ryanyu(pasiwadi)? Ntimugire ikibazo! mwa basha kongera kugena ubundi hano: 
br
h4 = link_to('gukora ijambobanga-pasiwadi rishya ', edit_password_url(@resource, reset_password_token: @token))
br
| Muramutse mugize ikindi kibazo, musabwe ku twandikira 
= mail_to "contact@kwendoo.rw", 'Mugire icyo mutubaza'
| .
br
br
| Murakoze,
br
|Ubuyobozi bwa The #{Configuration[:company_name]} 
