- project = @notification.project
|Bwana/madam,#{project.user.display_name}.
br
br
|Agashami kacu gashinzwe ibirebana na forode yasanze ku gaseke kanyu #{@notification.project.name} hacyetse ugukoresha ikarita ya banki itemewe.
br
|inkunga y'amafaranga yagaragaye yatanzwe muburyo butizewe yasubijwe kuri numero ya konti ijyanye ni karita ya banki yakoreshejwe.
br
|Twana bimenyesheje banki ijyanye niyo konti.
br
|Turaza gukuraho amafaranga yari yageze kuri kano gaseke yatanzwe nkikunga yiyo karita. Mutwihanganire. 
br
br
|Ubuyobozi bwa #{Configuration[:company_name]}
