- project = @notification.project
|Dear,#{project.user.display_name}.
br
br
|Our fraud department has identified on your agaseke #{@notification.project.name} Suspicious contributions of fraudulent credit card use.
br
|The contributions identified as fraudulent have just been reimbursed on the bank accounts associated with the blue cards used. 
br
|We also suspend the associated accounts.
br
|We will therefore deduct the total amount collected from the amount of these contributions. We are sorry for this inconvenience. 
br
br
|The team #{Configuration[:company_name]}
