- project = @notification.project
|Dear,#{project.user.display_name}.
br
br
|We thank you for your trust to  #{Configuration[:company_name]}.
br
br
|However our fraud department has identified on the agaseke #{@notification.project.name} Suspicious contributions of fraudulent blue card use. 
br
|All contributions have just been reimbursed to the bank accounts associated with the blue cards used. 
br
|We also suspend the associated accounts.
br
|We are sorry for this inconvenience.
br
br
|The Team #{Configuration[:company_name]}
