|Chèr(e), #{@notification.project.user.display_name}.
br
br
| Merci d'avoir choisi #{Configuration[:company_name]}. Nous vons le plaisir de vous informer que votre demande d'ouverture de cagnotte est approuvée. 
br
br
strong Avant sa mise en ligne, nous allons procéder à la création auprès de Mangopay, notre partenaire de paiement, du porte monnaie électronique qui lui est associé. 
br
Nous revenons vers vous pour sa mise en ligne
br
br
|Merci et bonne préparation! 
br
br
|L' équipe #{Configuration[:company_name]}
