- project = @notification.project
|Muraho #{project.user.display_name}.
br
br
|Mwifuje guhabwa amafaranga yakusanyijwe ku agaseke #{project.name}.
br
|Hano hari incamake yuko bihagaze.
br
|Amafaranga yose yakusanyijwe: #{project.display_pledged}
|Amafaranga muzahabwa : #{project.display_net_amount}
|Umusanzu wa kwendoo : #{Configuration[:platform_fee_percentage% 0,%
br
|Agaseke kawe karaza kwishyurwa kuri konti mu minsi itanu. Mubaye mutayakiriye umusanzu mu minsi 8 mutumenyeshe, Mutumenyeshe.
br
br
|Tubashimiye kubwi cyizere mudufitiye.
br
|Menyekanisha kwendoo hafi yawe, mwadusanga kuri facebook cg muka dukurikira kuri twitter
br
|Ubuyobozi bwa #{Configuration[:company_name]} 
