- project = @notification.project
|Chèr(e),#{project.user.display_name}.
br
br
|Nous vous remercions de votre confiance à #{Configuration[:company_name]}.
br
br
|Cependant notre département fraude a identifié sur L'agaseke #{@notification.project.name} des contributions suspectes d'utilisation de carte bleue frauduleuse. 
br
|Toutes les contributions viennent d'être remboursées sur les comptes bancaires associés aux cartes bleues utilisées. 
br
|Nous suspendons également les comptes associés.
br
|Nous sommes désolés de ce désagrément.
br
br
|L' équipe #{Configuration[:company_name]}
