- project = @notification.project
| Dear,#{project.user.display_name},
br
br
| You recently launched the agaseke #{@notification.project.name} on #{Configuration[:company_name]}. Thank you once again for your confidence. 
br
br
| Assurez-vous d'avoir passé le lien de la cagnotte à vos contacts et vos réseaux. En effet c'est eux qui vont vous permettre de réaliser votre objectif.
br
br
| Comme vous le savez sans doute, une cagnotte en ligne n'est pas publique. C'est donc vous qui emmenez la totalité de vos contributeurs.
br
br
| Nous vous invitons à passer un peu de temps à peaufiner votre page de cagnotte, à l'agrémenter d'une photo de haut de page, à détailler vos objectifs et la façon avec laquelle vous allez dépenser votre cagnotte, à illustrer ce que vous souhaitez faire par des images, une vidéo...
br
br
| Sans cela, il sera difficile de mobiliser vos soutiens. 
br
br
| Nous vous souhaitons une bonne collecte et sommes à votre disposition.
br
br
| L' équipe #{Configuration[:company_name]}
