- project = @notification.project
|Chèr(e), #{project.user.name},
br
|Votre agaseke #{project.name} vient de se terminer sur #{Configuration[:company_name]}. Il y a peut-être encore des derniers contributions en cours. Soyez assuré(e) que nous les réceptionnerons et les comptabiliserons.
br
br
|Lorsque vous le souhaiterez, suivez les instructions pour demander le paiement de vos avoirs.
br
br
|Merci de votre confiance. Parlez de nous autour de vous.
br
br
|L'équipe #{Configuration[:company_name]}



