- project = @notification.project
br
|We inform you that the initiator of agaseke has requested the withdrawal of funds. The amount of the deposit will be paid within 5 working days.
br
|We thank you again for your trust.
br
|Talk about Kwendoo around you! Become Fan on Facebook
br
|Kindest regards,
br
|The Team #{Configuration[:company_name]} 

