- user = @notification.user
|Bonjour #{user.name},
br
br
|Merci d' avoir soumis votre projet sur Kwendoo.
br
br
|Nous sommes cependant au regret de ne pouvoir l'approuver, et ce pour l'une ou plusieurs des raisons suivantes; 
ol 
  li Le type de structure que vous représentez n'est pas habilité à opérer une cagnote sur notre plateforme
  li l'objectif de votre agaseke a été jugé trop éloigné de notre éthique
  li Votre agaseke ne remplit pas les conditions d'éligibilité telles que définis par notre partenaire de Paiemnent ou par la Banque de France
br
|Encore une fois, merci pour votre soumission et bonne chance pour votre projet
br
br
|Tout le meilleur,
br
|L équipe #{Configuration[:company_name]} 
