- project = @notification.project
|Howdy, #{project.user.name},
br
|Your agaseke has just ended on #{Configuration[:company_name]}. There may still be a few last minute payments that are currently being verified.
br
br
|Whenever you will like to, follow indicated instructions to request for the payment of your funds.
br
br
|We thank you again for chosing us. Spread out the word to other about our service.
|Thank You,
br
|The #{Configuration[:company_name]} Team
