- project = @notification.project
|Chèr(e),#{project.user.display_name}.
br
br
|Notre département fraude a identifié sur votre cagnotte #{@notification.project.name} des contributions suspectes d'utilisation de carte bleue frauduleuse.
br
|Les contributions identifiées comme frauduleuses viennent d'être remboursées sur les comptes bancaires associés aux cartes bleues utilisées. 
br
|Nous suspendons également les comptes associés.
br
|Nous allons donc déduire le total des sommes collectées du montant de ces contributions. Nous sommes désolés de ce désagrément. 
br
br
|L' équipe #{Configuration[:company_name]}
